/* grid layout */

p {
    color: white;
    font-size: 2vw;
}

body {
    background-color: black;
    background: black;
}

.container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 3vw 20vw;
    grid-gap: 1vw;
}

input {
    font-size: 2vw;
    width: 100%;
    height: 10vh;
    border: 1px solid orangered;
    background: transparent;
}

.input-field {
    grid-column: 1 / 5;
}

.num {
    background-color: silver;
}

.ops,
.clear {
    background-color: orangered;
}

.num,
 .ops,
 .clear {
    border: 1px solid;
    width: 50%;
    height: 100%;
    padding: 2vw;
    margin: 1vw;
    border-radius: 50%;
    justify-content: center;
}

#show {
    position: relative;
    background: transparent;
    color: silver;
    border: 1px solid orangered;
    padding: .5vw 3vw;
    text-transform: uppercase;
    margin: 1px;
}

#show::before {
    position: absolute;
    content: '';
    background-color: orangered;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-transform: scaleX(.3);
    transform: scaleX(.3);
    opacity: 0;
    transition: all .3s
}

#show:hover::before{
    color: silver;
    opacity: 1;
    background-color: orangered;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    transition: -webkit-transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity .4s;
    transition: transform .6s cubic-bezier(.08, .35, .13, 1.02), opacity
  }

