/* grid layout */

p {
    color: white;
    font-size: 2vw;
}

body {
    background-color: black;
    background: black;
}

.container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 3vw 20vw;
    grid-gap: 1vw;
}

input {
    font-size: 2vw;
    width: 100%;
    height: 10vh;
    border: 1px solid orangered;
    background: transparent;
}

.input-field {
    grid-column: 1 / 5;
}

.num {
    background-color: silver;
}

.ops,
.clear {
    background-color: orangered;
}

.num,
 .ops,
 .clear {
    border: 1px solid;
    width: 50%;
    height: 100%;
    padding: 2vw;
    margin: 1vw;
    border-radius: 50%;
    justify-content: center;
}